@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  font-family: "Press Start 2P", cursive;
  cursor: url("../cursor.svg"), auto;
  color: white;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container{
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  /* border: 5px solid red; */
  width: 100%;
  height: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#self-video{
  border: 5px solid white;
  box-shadow: 0px 0px 0px 5px #343434;
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

button {
  padding: 15px 20px;
  border: 5px solid white;
  box-shadow: 5px 5px #343434;
  outline: none;
  width: fit-content;
  line-height: 120%;
  background: black;
}

#close-btn {
  padding: 5px 10px;
  border: 5px solid white;
  box-shadow: 5px 5px #343434;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#share-btn {
  padding: 5px 10px;
  border: 5px solid white;
  box-shadow: 5px 5px #343434;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#info-btn {
  padding: 5px 15px;
  border: 5px solid white;
  box-shadow: 5px 5px #343434;
  position: absolute;
  right: 10px;
  top: 10px;
}

#temp-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

#meeting-id:hover {
  color: #777777;
}

#modal {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  border: 5px solid white;
  box-shadow: 5px 5px #343434;
  background-color: black;
  font-size: large;
  line-height: 120%;
}

button:active {
  box-shadow: 8px 8px #343434;
  transform: translateY(4px);
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#session-id {
  width: 30vw;
  padding: 15px 20px;
  border: 5px solid white;
  box-shadow: 5px 5px #343434;
  outline: none;
  line-height: 120%;
  background: black;
  font-size: 15px;
}

h1 {
  font-size: 3em;
}

html {
  font-size: 12px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#monitor {
  margin: 0;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#outer-screen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(80ch * 0.9); /* This makes 80 monospace characters fit on the screen */
  height: calc(80ch * 0.75);
  border: 50px solid transparent;
  border-image-source: url(../bg6.png);
  border-image-slice: 30 fill;
  border-image-outset: 0;
  z-index: 2;
}

#screen {
  position: relative;
  overflow: hidden;
  /* border: 50px solid transparent;
  border-image-source: url(../bg6.png);
  border-image-slice: 30 fill;
  border-image-outset: 0; */
  padding: 15px 15px 35px 15px;
  /* z-index: 2; */
}

#crt,
pre {
  font-family: "VT323", monospace;
}

#crt {
  width: calc(80ch * 0.7); /* This makes 80 monospace characters fit on the screen */
  height: calc(80ch * 0.6);
  font-size: max(
    1rem,
    2.2vmin
  ); /* Scale the font-size relative to the minimum screen dimension */
  position: relative;
  background: #119c5e;
  background-image: radial-gradient(ellipse, #119c5e 0%, #050505 90%);
  animation: on 2s linear;
  transition: all 0.5s;
  z-index: -1;
}

#crt:after {
  content: " ";
  opacity: 0;
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}
#crt.turn-off:after {
  animation: turnOff 0.4s ease-in-out;
  /* animation-fill-mode: forwards; */
}

#crt:not(.off):before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0.1) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
  animation: fadeIn 2s;
}

/* Screen turned off */
#crt.off {
  background: #050505;
}
#crt.off:before {
  background: none;
}
#crt.off * {
  display: none !important;
}

body.fullscreen #crt {
  font-size: 2.5rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.terminal {
  position: relative;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  text-transform: uppercase;
  animation: textShadow 4s infinite;
}

.terminal,
.fullscreen {
  color: #5bf870;
  text-shadow: 0 0 5px #c8c8c8;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: scanline 10s linear infinite;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #000000; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 11; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
